<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BJL_icon_B_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_B_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,706},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_B_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_B_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_B_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,535},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_B_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_B_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,364},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_B_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_B_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,193},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_B_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{169,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{169,116}}</string>
                <key>sourceSize</key>
                <string>{171,118}</string>
            </dict>
            <key>BJL_icon_ChouMa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,41}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>BJL_icon_ChouMa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,877},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>BJL_icon_Floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{180,183}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>BJL_icon_HeiTao.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,85},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,94}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>BJL_icon_HongTao.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{101,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,81}}</string>
                <key>sourceSize</key>
                <string>{103,83}</string>
            </dict>
            <key>xingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,877},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZJM_icon_BJL.png</string>
            <key>size</key>
            <string>{291,941}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:717c78477d2e94b87e6fc58574910c13:1/1$</string>
            <key>textureFileName</key>
            <string>ZJM_icon_BJL.png</string>
        </dict>
    </dict>
</plist>
